<form [formGroup]="form1">
  <country-select [pleaseChooseEnabled]="true" [additionalItems]="[{display: 'Digital', value: ''}]"
    cssClass="form-control form-control-lg" formControlName="country"></country-select>
</form>
<pre>
  {{form1.get('country').value}}
</pre>
<form [formGroup]="form2">
  <country-select [onlyThisItems]="['', 'de', 'fr', 'nl']" [additionalItems]="[{display: 'Digital', value: ''}]"
    cssClass="form-control form-control-lg" formControlName="country"></country-select>
</form>
<pre>
  {{form2.get('country').value}}
</pre>
